nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline;
	font-family: 'Montserrat', serif;

}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;


}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background-color: #CF5C3F;
	text-shadow: none;

}
/*end header css*/

body{
	background-color: #C1BDB3;
	}

.createPresentation {
	/*text-align: center;*/
    /*margin-right: auto;*/

	/*-moz-box-shadow: 0px 10px 14px -7px #7F7979;
	-webkit-box-shadow: 0px 10px 14px -7px #7F7979;
	box-shadow: 0px 10px 14px -7px #7F7979;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7F7979), color-stop(1, #7F7979));
	background:-moz-linear-gradient(top, #7F7979 5%, #7F7979 100%);
	background:-webkit-linear-gradient(top, #7F7979 5%, #7F7979 100%);
	background:-o-linear-gradient(top, #7F7979 5%, #7F7979 100%);
	background:-ms-linear-gradient(top, #7F7979 5%, #7F7979 100%);
	background:linear-gradient(to bottom, #7F7979 5%, #7F7979 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F7979', endColorstr='#7F7979',GradientType=0);

	/*background-color: Transparent;*/


	margin-top:  300px;
	background-color:#7F7979;
	opacity: 0.7;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;



	font-family: 'Montserrat' , serif ;
	font-size:50px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3D3B3C;
}
.createPresentation:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5F5B6B), color-stop(1, #5F5B6B));
	background:-moz-linear-gradient(top, #5F5B6B 5%, #5F5B6B 100%);
	background:-webkit-linear-gradient(top, #5F5B6B 5%, #5F5B6B 100%);
	background:-o-linear-gradient(top, #5F5B6B 5%, #5F5B6B 100%);
	background:-ms-linear-gradient(top, #5F5B6B 5%, #5F5B6B 100%);
	background:linear-gradient(to bottom, #5F5B6B 5%, #5F5B6B 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5F5B6B', endColorstr='#5F5B6B',GradientType=0);
	background-color:#5F5B6B;
}
.createPresentation:active {
	position:relative;
	top:1px;
}

/*end large button*/

.mainTitle {
	font-family:'Quicksand' , serif ;
	text-align: center;
	/*margin-bottom: 100px;*/
}


#form{
	color: red;
}